# Copy to ".env.raiot" and edit as needed.
RAIOT_HOST_IP=auto
RAIOT_IP_AUTO_DETECT=true

RAIOT_AI_WS_PORT=9000
RAIOT_AI_HTTP_PORT=9003
RAIOT_ADMIN_PORT=8001
RAIOT_BACKEND_PORT=8002

RAIOT_MQTT_PORT=1883
RAIOT_UDP_PORT=8884
RAIOT_MQTT_API_PORT=8007

# mysql for backend db precheck + sys_params sync
RAIOT_MYSQL_HOST=127.0.0.1
RAIOT_MYSQL_PORT=3306
RAIOT_MYSQL_USER=root
RAIOT_MYSQL_PASSWORD=123456
# RAIOT_MYSQL_DATABASE=

RAIOT_CHAT_SERVER_PATH=/richard/v1/?from=mqtt_gateway
# RAIOT_CHAT_SERVER_URL=
# RAIOT_CHAT_SERVER_HOST=

# RAIOT_MQTT_SIGNATURE_KEY=
# RAIOT_SERVER_SECRET=
